.center{
    text-align: center;
    color: azure;
}
body {
    background-image: url("rockpaperscir.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.imageee1 {
    padding-top: 50px;
    
    padding-bottom: 10px;
    
    width: 128px;
    height: 128px;
    display: inline-block;
    

}
.imageee2 {
    padding-top: 50px;
    padding-left: 60px;
    padding-bottom: 10px;
    
    width: 128px;
    height: 128px;
    display: inline-block;
    
}
.button {
    background-color: #505f6ea9;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 150px;
}
.button:hover {
    background-color: #ffffff00;
    color: white;
}
table, th, td{
    color: blanchedalmond;
    font-size: large;
}
th, td {
    padding-left: 80px;
    padding-right: 60px;
    text-align: center;
}
td{
    padding-top: 10px;
    margin-right: auto;
}
table.tcenter{
    margin-left: auto;
    margin-right: auto;
}
  